<% layout('layout') %>

<div class="content">
    <img src="img/productivity.jpg" class="content-main-img">
    <div class="content-main-txt">
        <h1>Improve your productivity</h1>
        <blockquote>
            <p>Productivity is essentially the efficiency in which a company or economy can transform resources into goods, potentially creating more from less.</p>
            <p>Increased productivity means greater output from the same amount of input.</p>
            <p>This is a value-added process that can effectively raise living standards through decreasing the required monetary investment in everyday necessities (and luxuries), making consumers wealthier (in a relative sense) and businesses more profitable.</p>
            <p>From a broader perspective, increased productivity increases the power of an economy through driving economic growth and satisfying more human needs with the same resources.</p>
            <p>Increased gross domestic product (GDP) and overall economic outputs will drive economic growth, improving the economy and the participants within the economy.</p>
            <p>As a result, economies will benefit from a deeper pool of tax revenue to draw on in generating necessary social services such as health care, education, welfare, public transportation and funding for critical research.</p>
            <p>The benefits of increasing productivity are extremely far-reaching, benefiting participants within the system alongside the system itself.</p>
            <cite>Boundless. “The Importance of Productivity.” Boundless Economics. Boundless, 26 May. 2016.</cite>
        </blockquote>
    </div>
</div>