<!DOCTYPE html>
<html>
<head>
    <title>ToDo Board</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
<div class="container main">
    <%- include partial/navbar.ejs -%>

    <%- body -%>

    <%- include partial/login.ejs -%>

    <footer class="footer">

    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="src/login.js"></script>
</div>
</body>
</html>